In [1]:
import pandas as pd

avg_blk_size = pd.read_csv('.../data/avg-block-size.csv', header=None)
avg_conf_tm = pd.read_csv('.../data/avg-confirmation-time.csv', header=None)
cst_pr_txn = pd.read_csv('.../data/avg-confirmation-time.csv', header=None)
diff = pd.read_csv('.../data/difficulty.csv', header=None)
est_txn_vlm_usd = pd.read_csv('.../data/estimated-transaction-volume-usd.csv', header=None)
est_txn_vlm = pd.read_csv('.../data/estimated-transaction-volume.csv', header=None)
hash_rate = pd.read_csv('.../data/hash-rate.csv', header=None)
mkt_cap = pd.read_csv('.../data/market-cap.csv', header=None)
mnrs_rvn = pd.read_csv('.../data/miners-revenue.csv', header=None)
n_ophnd_blk = pd.read_csv('.../data/miners-revenue.csv', header=None)
n_txn_pr_blk = pd.read_csv('.../data/n-transactions-per-block.csv', header=None)
n_unq_add = pd.read_csv('.../data/n-unique-addresses.csv', header=None)
ttl_btc = pd.read_csv('.../data/total-bitcoins.csv', header=None)
trd_vlm = pd.read_csv('.../data/trade-volume.csv', header=None)
txn_fee = pd.read_csv('.../data/transaction-fees.csv', header=None)

In [2]:
avg_blk_size.head()

                     0         1
0  2017-01-07 00:00:00  0.987337
1  2017-01-08 00:00:00  0.810419
2  2017-01-09 00:00:00  0.923003
3  2017-01-10 00:00:00  0.959720
4  2017-01-11 00:00:00  0.923016

In [3]:
avg_blk_size.shape

(365, 2)

In [4]:
avg_conf_tm.head()

                     0           1
0  2017-01-07 00:00:00  124.837479
1  2017-01-07 06:00:00   34.388648
2  2017-01-07 12:00:00   34.255985
3  2017-01-07 18:00:00   31.101816
4  2017-01-08 00:00:00   59.743280

In [5]:
avg_conf_tm.shape

(1460, 2)

In [6]:
cst_pr_txn.head()

                     0           1
0  2017-01-07 00:00:00  124.837479
1  2017-01-07 06:00:00   34.388648
2  2017-01-07 12:00:00   34.255985
3  2017-01-07 18:00:00   31.101816
4  2017-01-08 00:00:00   59.743280

In [7]:
cst_pr_txn.shape

(1460, 2)

In [8]:
diff.head()

                     0             1
0  2017-01-07 00:00:00  3.176884e+11
1  2017-01-08 00:00:00  3.176884e+11
2  2017-01-09 00:00:00  3.176884e+11
3  2017-01-10 00:00:00  3.194895e+11
4  2017-01-11 00:00:00  3.368999e+11

In [9]:
diff.shape

(365, 2)

In [10]:
est_txn_vlm_usd.head()

                     0             1
0  2017-01-07 00:00:00  3.102585e+08
1  2017-01-08 00:00:00  2.114751e+08
2  2017-01-09 00:00:00  2.677692e+08
3  2017-01-10 00:00:00  2.842580e+08
4  2017-01-11 00:00:00  3.892991e+08

In [11]:
est_txn_vlm_usd.shape

(365, 2)

In [12]:
est_txn_vlm.head()

                     0              1
0  2017-01-07 00:00:00  344066.519218
1  2017-01-08 00:00:00  230638.883902
2  2017-01-09 00:00:00  297521.311414
3  2017-01-10 00:00:00  311898.393375
4  2017-01-11 00:00:00  495840.256350

In [13]:
est_txn_vlm.shape

(365, 2)

In [14]:
hash_rate.head()

                     0             1
0  2017-01-07 00:00:00  2.195140e+06
1  2017-01-08 00:00:00  2.637327e+06
2  2017-01-09 00:00:00  2.147763e+06
3  2017-01-10 00:00:00  2.679582e+06
4  2017-01-11 00:00:00  2.562350e+06

In [15]:
hash_rate.shape

(365, 2)

In [16]:
mkt_cap.head()

                     0             1
0  2017-01-07 00:00:00  1.450790e+10
1  2017-01-08 00:00:00  1.475388e+10
2  2017-01-09 00:00:00  1.448332e+10
3  2017-01-10 00:00:00  1.466827e+10
4  2017-01-11 00:00:00  1.263784e+10

In [17]:
mkt_cap.shape

(365, 2)

In [18]:
mnrs_rvn.head()

                     0            1
0  2017-01-07 00:00:00  1583004.570
1  2017-01-08 00:00:00  1915883.445
2  2017-01-09 00:00:00  1548900.000
3  2017-01-10 00:00:00  1842810.360
4  2017-01-11 00:00:00  1522759.635

In [19]:
mnrs_rvn.shape

(365, 2)

In [20]:
n_ophnd_blk.head()

                     0            1
0  2017-01-07 00:00:00  1583004.570
1  2017-01-08 00:00:00  1915883.445
2  2017-01-09 00:00:00  1548900.000
3  2017-01-10 00:00:00  1842810.360
4  2017-01-11 00:00:00  1522759.635

In [21]:
n_ophnd_blk.shape

(365, 2)

In [22]:
n_txn_pr_blk.head()

                     0            1
0  2017-01-07 00:00:00  2048.338129
1  2017-01-08 00:00:00  1557.491018
2  2017-01-09 00:00:00  1984.904412
3  2017-01-10 00:00:00  2024.300000
4  2017-01-11 00:00:00  1980.771242

In [23]:
n_txn_pr_blk.shape

(365, 2)

In [24]:
n_unq_add.head()

                     0         1
0  2017-01-07 00:00:00  503340.0
1  2017-01-08 00:00:00  455738.0
2  2017-01-09 00:00:00  475571.0
3  2017-01-10 00:00:00  541167.0
4  2017-01-11 00:00:00  491692.0

In [25]:
n_unq_add.shape

(365, 2)

In [26]:
ttl_btc.head()

                     0           1
0  2017-01-07 00:00:00  16088787.5
1  2017-01-08 00:00:00  16090875.0
2  2017-01-09 00:00:00  16092575.0
3  2017-01-10 00:00:00  16094575.0
4  2017-01-11 00:00:00  16096487.5

In [27]:
ttl_btc.shape

(365, 2)

In [28]:
trd_vlm.head()

                     0             1
0  2017-01-07 00:00:00  9.717566e+07
1  2017-01-08 00:00:00  5.530363e+07
2  2017-01-09 00:00:00  4.107699e+07
3  2017-01-10 00:00:00  3.148522e+07
4  2017-01-11 00:00:00  1.312537e+08

In [29]:
trd_vlm.shape

(365, 2)

In [30]:
txn_fee.head()

                     0           1
0  2017-01-07 00:00:00  107.136643
1  2017-01-08 00:00:00   91.241348
2  2017-01-09 00:00:00  102.045927
3  2017-01-10 00:00:00  119.940871
4  2017-01-11 00:00:00  111.820875

In [31]:
txn_fee.shape

(365, 2)

In [32]:
date = pd.read_csv('/Users/wolheelee/python/DIC_class/BTCPJT/data/avg-block-size.csv', header=None)
date = pd.DataFrame(date[0])
avg_blk_size = pd.DataFrame(avg_blk_size[1])
diff = pd.DataFrame(diff[1])
est_txn_vlm_usd = pd.DataFrame(est_txn_vlm_usd[1])
est_txn_vlm = pd.DataFrame(est_txn_vlm[1])
hash_rate = pd.DataFrame(hash_rate[1])
mkt_cap = pd.DataFrame(mkt_cap[1])
mnrs_rvn = pd.DataFrame(mnrs_rvn[1])
n_ophnd_blk = pd.DataFrame(n_ophnd_blk[1])
n_txn_pr_blk = pd.DataFrame(n_txn_pr_blk[1])
n_unq_add = pd.DataFrame(n_unq_add[1])
ttl_btc = pd.DataFrame(ttl_btc[1])
trd_vlm = pd.DataFrame(trd_vlm[1])
txn_fee = pd.DataFrame(txn_fee[1])

In [45]:
import numpy as np
dataset = np.zeros(shape=(len(date), 14))
feature_names = ['date', 'average block size', 'difficulty', 'estimated transaction volumes in usd',
                'estimated transaction volumes', 'hash rate', 'market capitalization', 'miners revenues',
                'number of orphaned blocks', 'number of transactions per blocks', 'number of unique addresses',
                'total bitcoins', 'trade volumes', 'transaction fees']

In [48]:
dset = pd.DataFrame(dataset, columns=feature_names)

In [50]:
dset.head()

,date,average block size,difficulty,estimated transaction volumes in usd,estimated transaction volumes,hash rate,market capitalization,miners revenues,number of orphaned blocks,number of transactions per blocks,number of unique addresses,total bitcoins,trade volumes,transaction fees
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
dset['date'] = date

In [58]:
dset['average block size'] = avg_blk_size
dset['difficulty'] = diff
dset['estimated transaction volumes in usd'] = est_txn_vlm_usd
dset['estimated transaction volumes'] = est_txn_vlm
dset['hash rate'] = hash_rate
dset['market capitalization'] = mkt_cap
dset['miners revenues'] = mnrs_rvn
dset['number of orphaned blocks'] = n_ophnd_blk
dset['number of transactions per blocks'] = n_txn_pr_blk
dset['number of unique addresses'] = n_unq_add
dset['total bitcoins'] = ttl_btc
dset['trade volumes'] = ttl_btc
dset['transaction fees'] = txn_fee

In [59]:
dset

,date,average block size,difficulty,estimated transaction volumes in usd,estimated transaction volumes,hash rate,market capitalization,miners revenues,number of orphaned blocks,number of transactions per blocks,number of unique addresses,total bitcoins,trade volumes,transaction fees
0,2017-01-07 00:00:00,0.987337,3.176884e+11,3.102585e+08,344066.519218,2.195140e+06,1.450790e+10,1.583005e+06,1.583005e+06,2048.338129,503340.0,16088787.5,16088787.5,107.136643
1,2017-01-08 00:00:00,0.810419,3.176884e+11,2.114751e+08,230638.883902,2.637327e+06,1.475388e+10,1.915883e+06,1.915883e+06,1557.491018,455738.0,16090875.0,16090875.0,91.241348
2,2017-01-09 00:00:00,0.923003,3.176884e+11,2.677692e+08,297521.311414,2.147763e+06,1.448332e+10,1.548900e+06,1.548900e+06,1984.904412,475571.0,16092575.0,16092575.0,102.045927
3,2017-01-10 00:00:00,0.959720,3.194895e+11,2.842580e+08,311898.393375,2.679582e+06,1.466827e+10,1.842810e+06,1.842810e+06,2024.300000,541167.0,16094575.0,16094575.0,119.940871
4,2017-01-11 00:00:00,0.923016,3.368999e+11,3.892991e+08,495840.256350,2.562350e+06,1.263784e+10,1.522760e+06,1.522760e+06,1980.771242,491692.0,16096487.5,16096487.5,111.820875
5,2017-01-12 00:00:00,0.802814,3.368999e+11,3.173693e+08,394742.846166,2.897298e+06,1.294314e+10,1.750688e+06,1.750688e+06,1721.132948,483077.0,16098637.5,16098637.5,106.356373
6,2017-01-13 00:00:00,0.841531,3.368999e+11,2.569624e+08,310296.050079,2.528855e+06,1.333316e+10,1.577155e+06,1.577155e+06,1822.178808,466560.0,16100512.5,16100512.5,97.908540
7,2017-01-14 00:00:00,0.742767,3.368999e+11,1.546583e+08,189694.960647,2.880550e+06,1.312850e+10,1.759417e+06,1.759417e+06,1408.540698,446468.0,16102662.5,16102662.5,86.856662
8,2017-01-15 00:00:00,0.677068,3.368999e+11,1.590342e+08,193769.248545,2.796814e+06,1.321781e+10,1.716578e+06,1.716578e+06,1413.167665,417278.0,16104750.0,16104750.0,82.224321
9,2017-01-16 00:00:00,0.758335,3.368999e+11,2.070388e+08,249414.310177,2.830308e+06,1.337031e+10,1.769358e+06,1.769358e+06,1583.668639,473646.0,16106862.5,16106862.5,103.642703
10,2017-01-17 00:00:00,0.900242,3.368999e+11,2.921579e+08,323187.116680,2.646087e+06,1.456223e+10,1.808884e+06,1.808884e+06,1852.512658,502461.0,16108837.5,16108837.5,109.393053
11,2017-01-18 00:00:00,0.894532,3.368999e+11,2.591764e+08,295532.827978,2.528855e+06,1.412877e+10,1.672839e+06,1.672839e+06,1978.483444,500305.0,16110712.5,16110712.5,108.625812
12,2017-01-19 00:00:00,0.834369,3.368999e+11,2.345059e+08,260588.218028,2.914045e+06,1.450015e+10,1.969903e+06,1.969903e+06,1727.614943,516338.0,16112887.5,16112887.5,112.395733
13,2017-01-20 00:00:00,0.722273,3.368999e+11,2.304075e+08,256692.901889,3.165256e+06,1.446505e+10,2.134044e+06,2.134044e+06,1578.714286,516009.0,16115250.0,16115250.0,104.849635
14,2017-01-21 00:00:00,0.693089,3.368999e+11,2.060638e+08,222988.685743,3.031277e+06,1.489419e+10,2.095397e+06,2.095397e+06,1456.143646,484668.0,16117512.5,16117512.5,94.589633
15,2017-01-22 00:00:00,0.674560,3.394776e+11,2.109765e+08,229821.850799,3.398970e+06,1.479787e+10,2.002158e+06,2.002158e+06,1361.413793,428797.0,16119687.5,16119687.5,87.114866
16,2017-01-23 00:00:00,0.909334,3.929633e+11,1.984005e+08,215184.890713,2.715269e+06,1.486394e+10,1.639777e+06,1.639777e+06,1702.820144,426712.0,16121412.5,16121412.5,110.162622
17,2017-01-24 00:00:00,0.973658,3.929633e+11,2.342041e+08,263431.869982,2.910612e+06,1.433440e+10,1.723423e+06,1.723423e+06,1866.959732,497858.0,16123275.0,16123275.0,143.165211
18,2017-01-25 00:00:00,0.987909,3.929633e+11,2.717558e+08,304488.243225,2.930146e+06,1.439169e+10,1.721632e+06,1.721632e+06,2039.740000,514638.0,16125137.5,16125137.5,135.606815
19,2017-01-26 00:00:00,0.993201,3.929633e+11,2.304256e+08,251581.080073,3.066887e+06,1.477095e+10,1.834110e+06,1.834110e+06,2024.866242,518118.0,16127075.0,16127075.0,125.188927
20,2017-01-27 00:00:00,0.837680,3.929633e+11,1.729440e+08,188459.940443,3.320833e+06,1.480128e+10,1.976661e+06,1.976661e+06,1549.011765,462950.0,16129200.0,16129200.0,114.043718
21,2017-01-28 00:00:00,0.877466,3.929633e+11,1.109550e+08,120787.042581,2.969215e+06,1.481803e+10,1.787596e+06,1.787596e+06,1621.019737,461291.0,16131100.0,16131100.0,122.535069
22,2017-01-29 00:00:00,0.862492,3.929633e+11,1.309974e+08,143425.206320,3.262230e+06,1.473525e+10,1.944065e+06,1.944065e+06,1446.868263,438727.0,16133187.5,16133187.5,119.837798
23,2017-01-30 00:00:00,0.955702,3.929633e+11,1.479348e+08,161054.237785,2.852009e+06,1.482063e+10,1.736959e+06,1.736959e+06,1718.006849,449341.0,16134987.5,16134987.5,137.405895
24,2017-01-31 00:00:00,0.959546,3.929633e+11,2.195536e+08,227771.619795,2.832475e+06,1.555458e+10,1.817471e+06,1.817471e+06,2121.951724,523036.0,16136800.0,16136800.0,145.661589
25,2017-02-01 00:00:00,0.962289,3.929633e+11,2.657035e+08,271145.344759,3.750587e+06,1.581529e+10,2.400828e+06,2.400828e+06,1825.833333,599052.0,16139200.0,16139200.0,154.916572
26,2017-02-02 00:00:00,0.913957,3.929633e+11,2.080804e+08,206551.925548,3.066887e+06,1.626061e+10,2.047540e+06,2.047540e+06,1653.242038,452585.0,16141162.5,16141162.5,142.300554
27,2017-02-03 00:00:00,0.970819,3.929633e+11,2.677158e+08,264280.112676,2.910612e+06,1.635288e+10,1.970792e+06,1.970792e+06,2171.563758,560374.0,16143025.0,16143025.0,162.421207
28,2017-02-04 00:00:00,0.952473,3.935676e+11,2.198523e+08,212973.243567,3.043001e+06,1.666630e+10,1.935046e+06,1.935046e+06,1974.662069,500098.0,16144825.0,16144825.0,139.353033
29,2017-02-05 00:00:00,0.957945,4.221706e+11,1.893607e+08,187004.444467,3.336808e+06,1.635026e+10,2.069248e+06,2.069248e+06,1837.113208,510277.0,16146812.5,16146812.5,136.178696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,2017-12-08 00:00:00,1.051353,1.590897e+12,4.799301e+09,299816.952250,1.233709e+07,2.677856e+11,4.029072e+07,4.029072e+07,2468.538462,902011.0,16728825.0,16728825.0,641.429665
336,2017-12-09 00:00:00,1.051266,1.590897e+12,3.891390e+09,256978.973095,1.376060e+07,2.533548e+11,4.023451e+07,4.023451e+07,2318.385057,877574.0,16731000.0,16731000.0,567.088424
337,2017-12-10 00:00:00,1.056459,1.590897e+12,3.572483e+09,240250.798005,1.296976e+07,2.488172e+11,3.611876e+07,3.611876e+07,2081.829268,739391.0,16733050.0,16733050.0,458.100297
338,2017-12-11 00:00:00,1.060448,1.590897e+12,4.271582e+09,254835.483408,1.352335e+07,2.805172e+11,4.251711e+07,4.251711e+07,2155.543860,867654.0,16735187.5,16735187.5,483.638651
339,2017-12-12 00:00:00,1.061313,1.590897e+12,5.760245e+09,333417.117148,1.233709e+07,2.891574e+11,4.153245e+07,4.153245e+07,2390.878205,867771.0,16737137.5,16737137.5,537.944079
340,2017-12-13 00:00:00,1.057065,1.590897e+12,4.658396e+09,277147.447668,1.470961e+07,2.813630e+11,4.771895e+07,4.771895e+07,2282.682796,958476.0,16739462.5,16739462.5,604.297945
341,2017-12-14 00:00:00,1.041837,1.590897e+12,3.587876e+09,215114.769664,1.463052e+07,2.792343e+11,4.770997e+07,4.770997e+07,2652.129730,1072861.0,16741775.0,16741775.0,644.607944
342,2017-12-15 00:00:00,1.057939,1.590897e+12,4.213977e+09,237114.589747,1.336518e+07,2.975707e+11,4.674898e+07,4.674898e+07,2400.449704,942513.0,16743887.5,16743887.5,592.703934
343,2017-12-16 00:00:00,1.056584,1.590897e+12,3.581766e+09,183692.723781,1.352335e+07,3.265254e+11,5.056984e+07,5.056984e+07,2129.953216,819304.0,16746025.0,16746025.0,534.011383
344,2017-12-17 00:00:00,1.041074,1.590897e+12,5.065452e+09,262597.628548,1.463052e+07,3.230718e+11,5.319158e+07,5.319158e+07,2118.432432,877464.0,16748337.5,16748337.5,535.438675
345,2017-12-18 00:00:00,1.042035,1.718046e+12,4.873482e+09,257014.999490,1.694649e+07,3.176227e+11,5.260019e+07,5.260019e+07,2166.148352,922523.0,16750612.5,16750612.5,587.125484
346,2017-12-19 00:00:00,1.060159,1.873105e+12,3.771404e+09,212627.844639,1.303576e+07,2.971385e+11,4.162900e+07,4.162900e+07,2704.442857,887697.0,16752362.5,16752362.5,662.595505
347,2017-12-20 00:00:00,1.072800,1.873105e+12,5.152140e+09,321480.906064,1.266331e+07,2.685052e+11,4.078686e+07,4.078686e+07,2722.625000,853863.0,16754062.5,16754062.5,911.591743
348,2017-12-21 00:00:00,1.038692,1.873105e+12,3.660302e+09,228091.561744,1.229086e+07,2.688875e+11,4.355294e+07,4.355294e+07,2541.530303,840739.0,16755712.5,16755712.5,1128.761670
349,2017-12-22 00:00:00,1.062319,1.873105e+12,4.421187e+09,291040.972957,1.443245e+07,2.545645e+11,5.104917e+07,5.104917e+07,2455.793548,890731.0,16757650.0,16757650.0,1495.946477
350,2017-12-23 00:00:00,1.060038,1.873105e+12,2.465336e+09,160500.926647,1.294265e+07,2.574286e+11,4.183367e+07,4.183367e+07,2217.345324,729637.0,16759387.5,16759387.5,1065.615595
351,2017-12-24 00:00:00,1.064143,1.873105e+12,2.547688e+09,182640.771341,1.415311e+07,2.338061e+11,3.763487e+07,3.763487e+07,1838.967105,652209.0,16761287.5,16761287.5,881.121363
352,2017-12-25 00:00:00,1.050746,1.873105e+12,2.519602e+09,178454.354516,1.257020e+07,2.366769e+11,3.270673e+07,3.270673e+07,1695.748148,565074.0,16762975.0,16762975.0,689.394412
353,2017-12-26 00:00:00,1.050313,1.873105e+12,3.172612e+09,198300.045389,1.322199e+07,2.682200e+11,3.889369e+07,3.889369e+07,1742.535211,605853.0,16764750.0,16764750.0,725.623818
354,2017-12-27 00:00:00,1.067595,1.873105e+12,4.694566e+09,301139.852755,1.452556e+07,2.613815e+11,4.152995e+07,4.152995e+07,1972.064103,749191.0,16766700.0,16766700.0,784.817124
355,2017-12-28 00:00:00,1.083203,1.873105e+12,3.618298e+09,251609.989930,1.387377e+07,2.411417e+11,3.700843e+07,3.700843e+07,2047.335570,741488.0,16768562.5,16768562.5,785.833892
356,2017-12-29 00:00:00,1.047754,1.873105e+12,3.682930e+09,251563.857261,1.536358e+07,2.455243e+11,4.053123e+07,4.053123e+07,2144.387879,838925.0,16770625.0,16770625.0,785.795050
357,2017-12-30 00:00:00,1.036882,1.873105e+12,3.942726e+09,298339.393514,1.368755e+07,2.216577e+11,3.364024e+07,3.364024e+07,2342.904762,815099.0,16772462.5,16772462.5,778.571110
358,2017-12-31 00:00:00,1.037057,1.873105e+12,3.322403e+09,234540.652572,1.517735e+07,2.376204e+11,3.543519e+07,3.543519e+07,1781.730061,678712.0,16774500.0,16774500.0,545.144526
359,2018-01-01 00:00:00,1.043383,1.922581e+12,2.552418e+09,184794.662678,1.497558e+07,2.317195e+11,3.233433e+07,3.233433e+07,1549.724359,593282.0,16776450.0,16776450.0,469.413036
360,2018-01-02 00:00:00,1.041368,1.931136e+12,3.526212e+09,234989.050820,1.641554e+07,2.517771e+11,4.055333e+07,4.055333e+07,1994.035088,850801.0,16778587.5,16778587.5,649.164976
361,2018-01-03 00:00:00,1.065513,1.931136e+12,2.850171e+09,189339.128214,1.507158e+07,2.526020e+11,3.961266e+07,3.961266e+07,2522.057325,937530.0,16780550.0,16780550.0,749.685473
362,2018-01-04 00:00:00,1.065833,1.931136e+12,4.053544e+09,266691.835512,1.612755e+07,2.550855e+11,4.252780e+07,4.252780e+07,2529.809524,1054711.0,16782650.0,16782650.0,778.261095
363,2018-01-05 00:00:00,1.067636,1.931136e+12,5.164209e+09,300697.150592,1.372762e+07,2.882579e+11,4.156996e+07,4.156996e+07,2396.552448,888402.0,16784437.5,16784437.5,701.356021
364,2018-01-06 00:00:00,1.054609,1.931136e+12,3.932860e+09,227080.970007,1.612755e+07,2.907294e+11,4.690039e+07,4.690039e+07,2135.994048,889098.0,16786537.5,16786537.5,694.477906

In [65]:
price = pd.read_csv('.../data/XXX_market-price.csv', header=None)

In [66]:
price.head()

                     0           1
0  2017-01-07 00:00:00  896.830375
1  2017-01-08 00:00:00  908.149037
2  2017-01-09 00:00:00  894.180250
3  2017-01-10 00:00:00  906.056914
4  2017-01-11 00:00:00  785.223737

In [67]:
price.shape

(365, 2)

In [68]:
price = price[1]

In [69]:
price.head()

0    896.830375
1    908.149037
2    894.180250
3    906.056914
4    785.223737
Name: 1, dtype: float64

In [70]:
dset['price'] = price

In [71]:
dset.head()

,date,average block size,difficulty,estimated transaction volumes in usd,estimated transaction volumes,hash rate,market capitalization,miners revenues,number of orphaned blocks,number of transactions per blocks,number of unique addresses,total bitcoins,trade volumes,transaction fees,price
0,2017-01-07 00:00:00,0.987337,3.176884e+11,3.102585e+08,344066.519218,2.195140e+06,1.450790e+10,1583004.570,1583004.570,2048.338129,503340.0,16088787.5,16088787.5,107.136643,896.830375
1,2017-01-08 00:00:00,0.810419,3.176884e+11,2.114751e+08,230638.883902,2.637327e+06,1.475388e+10,1915883.445,1915883.445,1557.491018,455738.0,16090875.0,16090875.0,91.241348,908.149037
2,2017-01-09 00:00:00,0.923003,3.176884e+11,2.677692e+08,297521.311414,2.147763e+06,1.448332e+10,1548900.000,1548900.000,1984.904412,475571.0,16092575.0,16092575.0,102.045927,894.180250
3,2017-01-10 00:00:00,0.959720,3.194895e+11,2.842580e+08,311898.393375,2.679582e+06,1.466827e+10,1842810.360,1842810.360,2024.300000,541167.0,16094575.0,16094575.0,119.940871,906.056914
4,2017-01-11 00:00:00,0.923016,3.368999e+11,3.892991e+08,495840.256350,2.562350e+06,1.263784e+10,1522759.635,1522759.635,1980.771242,491692.0,16096487.5,16096487.5,111.820875,785.223737