In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
sample1 = pd.read_csv('/Users/wolheelee/python/DIC_class/BTCPJT_work/SentimentDetection/tweet_csv/BitcoinMagazine_20180113.csv')
sample2 = pd.read_csv('/Users/wolheelee/python/DIC_class/BTCPJT_work/SentimentDetection/tweet_csv/Excellion_20180113.csv')

In [11]:
sample1['date'] = sample1['created_at'].apply(lambda x: x[:10])

In [214]:
sample1

,id,created_at,text,fav,RT,date
0,951877102617415680,2018-01-12 18:02:40,RT @DistLedger: What role will #blockchain tec...,0,20,2018-01-12
1,951877053946781697,2018-01-12 18:02:29,"RT @_poetproject: Nine years ago today, the fi...",0,238,2018-01-12
2,951549813706969089,2018-01-11 20:22:09,We heard it was #ThrowbackThursday. Wait for i...,265,97,2018-01-11
3,951466183471099905,2018-01-11 14:49:50,Our Latest #Bitcoin Price Analysis: Choppy Mar...,53,41,2018-01-11
4,951237032986271744,2018-01-10 23:39:16,Bitcoin Price Analysis: Choppy Market Conditio...,56,42,2018-01-10
5,950857783175471107,2018-01-09 22:32:16,ICYMI: Kodak Gets in on the Blockchain and ICO...,84,54,2018-01-09
6,950856620917043201,2018-01-09 22:27:39,ICYMI: How a Hackathon Birthed the #CryptoKitt...,36,28,2018-01-09
7,950828804863295488,2018-01-09 20:37:07,"So, this is a thing...Kodak Gets in on the Blo...",134,97,2018-01-09
8,950826594481958916,2018-01-09 20:28:20,RT @DistLedger: Could #blockchain technology d...,0,42,2018-01-09
9,950826460373245952,2018-01-09 20:27:48,Want to learn more about MAST? Check out our a...,47,41,2018-01-09
10,950804675779014656,2018-01-09 19:01:14,How a Hackathon Birthed the #CryptoKitties Ori...,25,18,2018-01-09
11,950475191653748736,2018-01-08 21:11:59,CFTC to Discuss Digital Currency Futures Certi...,71,59,2018-01-08
12,949432886050029568,2018-01-06 00:10:14,RT @DistLedger: As the #media industry continu...,0,60,2018-01-06
13,949416972655169537,2018-01-05 23:07:00,Cryptocurrency and Blockchain Tech Market Coul...,284,227,2018-01-05
14,949416595801231362,2018-01-05 23:05:30,SEC/NASAA Ring in 2018 by Hinting at Need for ...,33,40,2018-01-05
15,949416226815606784,2018-01-05 23:04:02,Wallet Developers Express Security Concerns Ov...,60,50,2018-01-05
16,949330364027285505,2018-01-05 17:22:51,"So, which direction do we seem to be going in?...",85,55,2018-01-05
17,949041567762968576,2018-01-04 22:15:16,Bitcoin Price Analysis: Bitcoin Poised for a P...,157,102,2018-01-04
18,948617186364489728,2018-01-03 18:08:56,Be sure to Keep an Eye Out for These Bitcoin T...,82,61,2018-01-03
19,948608859668647937,2018-01-03 17:35:51,RT @DistLedger: CDC believes disease surveilla...,0,25,2018-01-03
20,948299009994698752,2018-01-02 21:04:37,RT @BitcoinMagazine: Keep an Eye Out for These...,0,175,2018-01-02
21,948282118366531584,2018-01-02 19:57:29,Keep an Eye Out for These #Bitcoin Tech Trends...,210,175,2018-01-02
22,947877616161144832,2018-01-01 17:10:09,Happy New Year from all of us at Bitcoin Magaz...,98,50,2018-01-01
23,947140132649492481,2017-12-30 16:19:39,ICYMI: Lyn Ulbricht: Rossâ€™s Latest Appeal Abou...,41,35,2017-12-30
24,946898671169359872,2017-12-30 00:20:10,Lyn Ulbricht: Rossâ€™s Latest Appeal About â€œCons...,67,74,2017-12-30
25,946840656483356672,2017-12-29 20:29:38,Fall was all about the forks. This was our top...,35,39,2017-12-29
26,946825292605280256,2017-12-29 19:28:35,Here's what made news in September - Bitcoin ...,55,36,2017-12-29
27,946816841342771201,2017-12-29 18:55:00,Our most popular story in the month of August ...,50,33,2017-12-29
28,946810708037169153,2017-12-29 18:30:38,Our top story from May: China's Interest and I...,47,34,2017-12-29
29,946791675015417857,2017-12-29 17:15:00,July was all about the Countdown to #SegWit: T...,44,30,2017-12-29
...,...,...,...,...,...,...
3002,204636156711809025,2012-05-21 18:13:56,The Strange Antics of the Bitcoinica Thief: ht...,4,6,2012-05-21
3003,204635803316518914,2012-05-21 18:12:32,What the Largest Exchange is Doing About the L...,2,0,2012-05-21
3004,202711165019762691,2012-05-16 10:44:42,Adam Kokesh Interview: Bitcoin and Free Market...,2,1,2012-05-16
3005,202709949086830592,2012-05-16 10:39:52,Bitcoinica: An Obituary http://t.co/7YYBefBk #...,2,0,2012-05-16
3006,200523692910968832,2012-05-10 09:52:28,Bitcoin and Anonymity: Some Measure of Anonymi...,2,5,2012-05-10
3007,199912706717921280,2012-05-08 17:24:38,"Martingale Betting - a Metaphor for ""Too Big t...",2,3,2012-05-08
3008,197550271520456704,2012-05-02 04:57:09,ZipConf: Instant Bitcoin Transactions; The Oth...,2,0,2012-05-02
3009,197331356114620416,2012-05-01 14:27:16,Bittalk Media is Pleased to Announce Release o...,5,5,2012-05-01
3010,196268342150053891,2012-04-28 16:03:13,Coinabul celebrates six month of gold http://t...,2,0,2012-04-28
3011,195129906668126210,2012-04-25 12:39:29,Bitcoin Mining: A New Means of Paying for Vide...,4,5,2012-04-25
3012,191939827472678912,2012-04-16 17:23:15,"Social Media Virtual Currencies, Facebook cred...",3,6,2012-04-16
3013,190577113915588608,2012-04-12 23:08:19,BusinessInsiderâ€™s Misconceptions About Bitcoin...,3,1,2012-04-12
3014,190412867164569600,2012-04-12 12:15:39,A reply to BusinessInsider's misconceptions ab...,3,0,2012-04-12
3015,189431249436282881,2012-04-09 19:15:03,Helpcoin: Bitcoinâ€™s First Consulting Company h...,2,0,2012-04-09
3016,188925399231762432,2012-04-08 09:44:59,"New Post ""Brain Wallets: The What and The How""...",2,0,2012-04-08
3017,188683588861038592,2012-04-07 17:44:07,RT @jonmatonis: paysafecard Could Be Huge http...,2,0,2012-04-07
3018,188677746279456768,2012-04-07 17:20:54,"Zhou Tong-ed vs Jamie Dimon-ed in ""Anti-Bank C...",3,0,2012-04-07
3019,188646359405039619,2012-04-07 15:16:11,"Indeed: ""The fact that we now have a working g...",2,1,2012-04-07
3020,188555064972021761,2012-04-07 09:13:25,"New Post ""coinDL - The iTunes of The #Bitcoin ...",2,2,2012-04-07
3021,187899179891310593,2012-04-05 13:47:10,"New Post ""The Mintchip: The Canadian Governmen...",3,1,2012-04-05
3022,187856147728965633,2012-04-05 10:56:10,"#Bitcoin gone WILD, an interview with Lady Byt...",2,0,2012-04-05
3023,187855845437087744,2012-04-05 10:54:58,#Bitcoin and consumer economies in the non-wes...,2,0,2012-04-05
3024,187855539169017857,2012-04-05 10:53:45,"Hey, where'd the money go: http://t.co/EWdojnv6",2,0,2012-04-05
3025,187855357329154048,2012-04-05 10:53:02,The Bitcoinica Linode Theft and What it Means ...,2,0,2012-04-05
3026,187855056308154368,2012-04-05 10:51:50,Introduction to #Bitcoin Terminology -part II:...,2,0,2012-04-05
3027,187854818113626112,2012-04-05 10:50:53,Introduction to #Bitcoin Terminology -part I: ...,2,0,2012-04-05
3028,187854588223832064,2012-04-05 10:49:58,#Bitcoin Introduction: http://t.co/QbIWM0vW,2,0,2012-04-05
3029,187854114431045633,2012-04-05 10:48:05,#Bitcoin Brain Wallet - Review: http://t.co/Te...,2,0,2012-04-05
3030,187853789204725760,2012-04-05 10:46:48,"Offline USB, CD and Paper Wallets - Review: ht...",2,0,2012-04-05
3031,187853562238353408,2012-04-05 10:45:54,Lightweight #Bitcoin Wallets - Review: http://...,2,0,2012-04-05

In [17]:
drop_year_col = ['2016', '2015', '2014', '2013', '2012']

In [28]:
drop1 = sample1[~sample1['date'].str.contains(drop_year_col[4])]
drop1 = pd.DataFrame(drop1)
drop2 = drop1[~drop1['date'].str.contains(drop_year_col[3])]
drop2 = pd.DataFrame(drop2)
drop3 = drop2[~drop2['date'].str.contains(drop_year_col[2])]
drop3 = pd.DataFrame(drop3)
drop4 = drop3[~drop3['date'].str.contains(drop_year_col[1])]
drop4 = pd.DataFrame(drop4)
drop5 = drop4[~drop4['date'].str.contains(drop_year_col[0])]

In [31]:
df = drop5

In [40]:
del_date = ['2018-01-12', '2018-01-11', '2018-01-10', '2018-01-09', '2018-01-08']

In [42]:
del1 = df[~df['date'].str.contains(del_date[0])]
del2 = del1[~del1['date'].str.contains(del_date[1])]
del3 = del2[~del2['date'].str.contains(del_date[2])]
del4 = del3[~del3['date'].str.contains(del_date[3])]
del5 = del4[~del4['date'].str.contains(del_date[4])]

In [43]:
df = del5

In [48]:
del_date2 = ['2017-01-02', '2017-01-03', '2017-01-04']

In [49]:
de1 = df[~df['date'].str.contains(del_date2[0])]
de2 = de1[~de1['date'].str.contains(del_date2[1])]
de3 = de2[~de2['date'].str.contains(del_date2[2])]

In [50]:
df = de3

In [88]:
df.to_csv('sentiment_detection.csv')

In [ ]:
#20170106-20170107

In [257]:
import datetime as dt
ls = []
date = dt.datetime(2017, 1, 1)
for i in range(365):
    a = date
    ls.append(a)
    date += dt.timedelta(days=1)

In [258]:
df_date  = pd.DataFrame(ls, columns={'unique_date'})

In [259]:
df_date = df_date['unique_date'].apply(lambda x: x.strftime("%Y-%m-%d %H:%M:%S"))
#date_str = date.strftime("%Y/%m/%d %H:%M:%S")

In [260]:
df_date = pd.DataFrame(df_date)

In [261]:
df_date['unique_date'] = df_date['unique_date'].apply(lambda x: x[:10])

In [262]:
add_date = ['2018-01-01', '2018-01-02','2018-01-03','2018-01-04','2018-01-05','2018-01-06','2018-01-07']
df_date = df_date.append(pd.DataFrame({'unique_date': add_date}))

In [263]:
df_date.sort_index(axis=1,inplace=True)

In [264]:
df_date = df_date.reset_index(drop=True)

In [267]:
df_date2 = df_date[7:]

In [268]:
df_date2

    unique_date
7    2017-01-08
8    2017-01-09
9    2017-01-10
10   2017-01-11
11   2017-01-12
12   2017-01-13
13   2017-01-14
14   2017-01-15
15   2017-01-16
16   2017-01-17
17   2017-01-18
18   2017-01-19
19   2017-01-20
20   2017-01-21
21   2017-01-22
22   2017-01-23
23   2017-01-24
24   2017-01-25
25   2017-01-26
26   2017-01-27
27   2017-01-28
28   2017-01-29
29   2017-01-30
30   2017-01-31
31   2017-02-01
32   2017-02-02
33   2017-02-03
34   2017-02-04
35   2017-02-05
36   2017-02-06
..          ...
342  2017-12-09
343  2017-12-10
344  2017-12-11
345  2017-12-12
346  2017-12-13
347  2017-12-14
348  2017-12-15
349  2017-12-16
350  2017-12-17
351  2017-12-18
352  2017-12-19
353  2017-12-20
354  2017-12-21
355  2017-12-22
356  2017-12-23
357  2017-12-24
358  2017-12-25
359  2017-12-26
360  2017-12-27
361  2017-12-28
362  2017-12-29
363  2017-12-30
364  2017-12-31
365  2018-01-01
366  2018-01-02
367  2018-01-03
368  2018-01-04
369  2018-01-05
370  2018-01-06
371  2018-01-07

[365 rows x 1 columns]

In [139]:
#df_date.to_csv('onlydate.csv')

In [269]:
df2 = df['date']

In [270]:
df2 = pd.DataFrame(df2)

In [271]:
df2.duplicated().any()

True

In [274]:
df2.shape

(960, 1)

In [275]:
df2 = df2.drop_duplicates()

In [278]:
df2.shape

(264, 1)

In [281]:
df2 = df2.reset_index()

In [284]:
df3 = df2['date'].sort_values()

In [286]:
df3 = df3.reset_index()

In [288]:
df3 = df3.drop('index', axis=1)

In [289]:
df3

           date
0    2017-01-06
1    2017-01-09
2    2017-01-11
3    2017-01-12
4    2017-01-13
5    2017-01-14
6    2017-01-16
7    2017-01-23
8    2017-01-24
9    2017-01-25
10   2017-01-26
11   2017-01-27
12   2017-01-31
13   2017-02-01
14   2017-02-03
15   2017-02-06
16   2017-02-07
17   2017-02-08
18   2017-02-09
19   2017-02-10
20   2017-02-11
21   2017-02-12
22   2017-02-13
23   2017-02-14
24   2017-02-15
25   2017-02-16
26   2017-02-20
27   2017-02-21
28   2017-02-22
29   2017-02-23
..          ...
234  2017-11-21
235  2017-11-22
236  2017-11-27
237  2017-11-28
238  2017-11-29
239  2017-11-30
240  2017-12-01
241  2017-12-04
242  2017-12-05
243  2017-12-06
244  2017-12-07
245  2017-12-08
246  2017-12-11
247  2017-12-12
248  2017-12-13
249  2017-12-14
250  2017-12-15
251  2017-12-18
252  2017-12-19
253  2017-12-20
254  2017-12-21
255  2017-12-22
256  2017-12-29
257  2017-12-30
258  2018-01-01
259  2018-01-02
260  2018-01-03
261  2018-01-04
262  2018-01-05
263  2018-01-06

[264 rows x 1 columns]

In [247]:
df2.shape

(264, 1)

In [302]:
#df_date = df_date.rename(columns={'unique_date':'date'})

In [307]:
df4 = pd.merge(df_date, df3, on='date', )
df4

           date
0    2017-01-06
1    2017-01-09
2    2017-01-11
3    2017-01-12
4    2017-01-13
5    2017-01-14
6    2017-01-16
7    2017-01-23
8    2017-01-24
9    2017-01-25
10   2017-01-26
11   2017-01-27
12   2017-01-31
13   2017-02-01
14   2017-02-03
15   2017-02-06
16   2017-02-07
17   2017-02-08
18   2017-02-09
19   2017-02-10
20   2017-02-11
21   2017-02-12
22   2017-02-13
23   2017-02-14
24   2017-02-15
25   2017-02-16
26   2017-02-20
27   2017-02-21
28   2017-02-22
29   2017-02-23
..          ...
234  2017-11-21
235  2017-11-22
236  2017-11-27
237  2017-11-28
238  2017-11-29
239  2017-11-30
240  2017-12-01
241  2017-12-04
242  2017-12-05
243  2017-12-06
244  2017-12-07
245  2017-12-08
246  2017-12-11
247  2017-12-12
248  2017-12-13
249  2017-12-14
250  2017-12-15
251  2017-12-18
252  2017-12-19
253  2017-12-20
254  2017-12-21
255  2017-12-22
256  2017-12-29
257  2017-12-30
258  2018-01-01
259  2018-01-02
260  2018-01-03
261  2018-01-04
262  2018-01-05
263  2018-01-06

[264 rows x 1 columns]

In [233]:
df4

           date unique_date
12   2018-01-06         NaN
13   2018-01-05         NaN
17   2018-01-04         NaN
18   2018-01-03         NaN
20   2018-01-02         NaN
22   2018-01-01         NaN
23   2017-12-30         NaN
25   2017-12-29         NaN
35   2017-12-22         NaN
37   2017-12-21         NaN
39   2017-12-20         NaN
41   2017-12-19         NaN
47   2017-12-18         NaN
49   2017-12-15         NaN
51   2017-12-14         NaN
55   2017-12-13         NaN
56   2017-12-12         NaN
61   2017-12-11         NaN
63   2017-12-08         NaN
66   2017-12-07         NaN
71   2017-12-06         NaN
73   2017-12-05         NaN
75   2017-12-04         NaN
80   2017-12-01         NaN
85   2017-11-30         NaN
88   2017-11-29         NaN
93   2017-11-28         NaN
97   2017-11-27         NaN
100  2017-11-22         NaN
105  2017-11-21         NaN
..          ...         ...
342         NaN  2017-12-09
343         NaN  2017-12-10
344         NaN  2017-12-11
345         NaN  2017-12-12
346         NaN  2017-12-13
347         NaN  2017-12-14
348         NaN  2017-12-15
349         NaN  2017-12-16
350         NaN  2017-12-17
351         NaN  2017-12-18
352         NaN  2017-12-19
353         NaN  2017-12-20
354         NaN  2017-12-21
355         NaN  2017-12-22
356         NaN  2017-12-23
357         NaN  2017-12-24
358         NaN  2017-12-25
359         NaN  2017-12-26
360         NaN  2017-12-27
361         NaN  2017-12-28
362         NaN  2017-12-29
363         NaN  2017-12-30
364         NaN  2017-12-31
365         NaN  2018-01-01
366         NaN  2018-01-02
367         NaN  2018-01-03
368         NaN  2018-01-04
369         NaN  2018-01-05
370         NaN  2018-01-06
371         NaN  2018-01-07

[636 rows x 2 columns]

In [199]:
df_date2 = df_date

In [205]:
df_date2 = df_date2.reset_index('unique_date')